* {
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 0 15px 0 15px;
}

.logo {
    display: block;
    margin: 2rem auto;
}

nav {
    background-color: #333333;
}

.menu {
    padding: 2rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu a {
    color: #a8a8a8;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
}

.filme {
    display: flex;
    margin-top: 3rem;
}

.filme-r {
    text-align: end;
}

.bloco-texto {
    padding: 3rem;
    background-color: #333333;
}

.titulo {
    margin: 0 0 0.5rem 0;
}

.lancamento {
    margin: 0 0 2rem 0;
    font-weight: 400;
}

.descricao {
    font-size: 0.8rem;
}

.rodape {
    margin-top: 3rem;
    padding: 1rem 0;
    background-color: #a9141a;
    text-align: center;
}

.rodape a {
    color: #fff;
}

/* Breakpoints */
@media (max-width: 992px) {
    .bloco-texto {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .filme {
        flex-direction: column-reverse;
    }

    .filme-r {
        flex-direction: column;
        text-align: start;
    }
}

@media (max-width: 576px) {
    .menu {
        font-size: 0.75rem;
        justify-content: space-between;
    }
}
